<!DOCTYPE html>
<html>
<head>
<title>{$shop_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="ecy.cc">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="style/base2013.css" />
<link rel="stylesheet" type="text/css" href="style/index.css" />
<script src="js/jquery-1.6.2.min.js"></script>
<script src="js/jquery.tabify.js" type="text/javascript" charset=utf-8></script>
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('.images_slider').flexslider({
		animation: "slide",
		directionNav: false,
		controlNav: true,
		animationLoop: true,
		animationDuration: 300, 
		slideshow: false
		});
	});
</script>
</head>
<body id="body" style="margin:0 auto">
{include file='head.html'}
<div class="new-body-w320">
</div>
 <div class="new-ct">
	<div class="new-main">
    <div class="images_slider_container">
      <div class="images_slider">
        <ul class="slides">
          <li><a href='#'><img src="./../data/afficheimg/20131128fcpjze.jpg" width="320" height="86"/></a></li>
				  <li><a href='#'><img src="./../data/afficheimg/20131128qgmlks.jpg" width="320" height="86"/></a></li>
        </ul>
      </div>
    </div>
        
        <div class="new-mian-cont new-mg-t10">
              <div class="new-msale-lst new-p-re">
                <ul class="new-tbl-type" style="position:absolute;margin-left:0px" id="slider">
						{if $best_num > 0}
						{foreach from=$best_goods item=best_data name=goo} 
						 {if $smarty.foreach.goo.iteration <4}
							<li class="new-tbl-cell"><a href="goods.php?id={$best_data.id}"><img src="./../{$best_data.thumb}" width="90" height="90"><span>  {if $promote_price}{$best_data.promote_price}{else}{$best_data.shop_price}{/if} </span></a></li>
							{/if}
							{/foreach}
						{/if}		
					   </ul>
            </div>
            <div class="new-msale-lst new-p-re">
                <ul class="new-tbl-type" style="position:absolute;margin-left:0px" id="slider">
						{if $best_num > 0}
						{foreach from=$hot_goods item=best_data name=goo} 
						 {if $smarty.foreach.goo.iteration <4}
							<li class="new-tbl-cell"><a href="goods.php?id={$best_data.id}"><img src="./../{$best_data.thumb}" width="90" height="90"><span>  {if $promote_price}{$best_data.promote_price}{else}{$best_data.shop_price}{/if} </span></a></li>
							{/if}
							{/foreach}
						{/if}		
					   </ul>
            </div>
				<div class="new-service">
                <div class="new-serv-lst new-p-re">
                    <ul class="new-tbl-type">
                        <li class="new-tbl-cell">
                        	<div>
                            	<a href="category.php" class="new-serv1"><span class="icon"><span></span></span><span>商品分类</span></a><a href="user.php?act=user_center" class="new-serv2"><span class="icon"><span></span></span><span>订单速查</span></a><a href="brands.php" class="new-serv3"><span class="icon"><span></span></span><span>品牌中心</span></a><a href="user.php?act=user_center" class="new-serv4"><span class="icon"><span></span></span><span>会员中心</span></a>
                            </div>
                            <!--<div>
                            	<a href="user.php?act=user_center" class="new-serv5">
                                	<img src="./../mobile/images/a3.jpg" width="145px" height="70"/>
                                </a><a href="user.php?act=user_center" class="new-serv6">
                                <img src="./../mobile/images/a4.jpg" width="145px" height="70"/>
                                </a>
                            </div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
{include file='foot.html'}
<script type="text/javascript" src="js/hotpic.js"></script>
</body>
</html>